In [12]:
import sqlite3
from sqlite3 import Error

In [13]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [14]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [15]:
def main():
    database = r"../uts.db"

    sql_create_courses_table = """ CREATE TABLE IF NOT EXISTS courses (
                                        id text PRIMARY KEY,
                                        name text NOT NULL,
                                        atar integer,
                                        hons integer NOT NULL,
                                        prof_prac integer NOT NULL,
                                        combined integer NOT NULL,
                                        location text,
                                        cp integer
                                    ); """
    
    sql_create_substruc_table = """CREATE TABLE IF NOT EXISTS sub_structures (
                                    id text PRIMARY KEY,
                                    name text NOT NULL,
                                    type text NOT NULL,
                                    cp integer
                                );"""

    sql_create_relations_table = """CREATE TABLE IF NOT EXISTS relations (
                                    course_id text NOT NULL,
                                    struc_id text NOT NULL,
                                    FOREIGN KEY (course_id) REFERENCES courses (id),
                                    FOREIGN KEY (struc_id) REFERENCES sub_structures (id)
                                );"""
    #sql_create_altnames_table = """ CREATE TABLE IF NOT EXISTS altnames (
    #                                    id text PRIMARY KEY,
    #                                    name text NOT NULL,
    #                                    course_id integer NOT NULL,
    #                                    items_id integer NOT NULL,
    #                                    FOREIGN KEY (course_id) REFERENCES courses (course_id)
    #                                    FOREIGN KEY (items_id) REFERENCES items (items_id)
    #                                ); """

    # create a database connection
    conn = create_connection(database)

    # create tables
    if conn is not None:
        # create courses table
        create_table(conn, sql_create_courses_table)

        # create sub-structures table
        create_table(conn, sql_create_substruc_table)

        # create relations table
        create_table(conn, sql_create_relations_table)
    
    else:
        print("Error! cannot create the database connection.")

In [16]:
if __name__ == '__main__':
    main()
    print("Success.")

Success.

In [ ]:
# To insert courses information, head to sqlite3 terminal and:
# sqlite3 uts.db
# .mode csv
# .import data/csv/courses3.csv courses
# .import data/csv/sub_structures.csv sub_structures
# .import data/csv/relations.csv relations 

#To view in readable structure:
# .header on
# .mode column
# SELECT * FROM courses;