In [13]:
import sqlite3
from sqlite3 import Error

In [15]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [16]:
def select_all_courses(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM courses")

    rows = cur.fetchall()

    for row in rows:
        print(row)

In [5]:
# essentially a SELECT * FROM courses;
#select_all_courses(create_connection("uts.db"))

In [17]:
def select_course(conn, value):
    """
    Query tasks by priority
    :param conn: the Connection object
    :param priority:
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM courses WHERE course_id LIKE ?", ('%'+value+'%',))
    #cur.execute(f"""SELECT * FROM courses WHERE name='{value}'"""") #sample fstring

    rows = cur.fetchall()

    for row in rows:
        #print(row) #print all rows from database
        print(f"UTS offers {row[1]} at {row[6]}.")

In [70]:
def check_type(x):
    if 'cbk' in x:
        return "Directory"
    elif 'smj' in x:
        return "Directory"
    elif 'maj' in x:
        return "Directory"
    elif 'stm' in x:
        return "Directory"
    elif 'c0' in x:
        return "Course"
    elif 'c1' in x:
        return "Course"
    else:
        return "Subject"

In [71]:
def get_url(x):
    head_url = 'https://handbook.uts.edu.au/'
    if check_type(x) == 'Directory':
        return head_url + 'directory/' + x + '.html'
    elif check_type(x) == 'Course':
        return head_url + 'courses/' + x + '.html'
    elif check_type(x) == 'Subject':
        return head_url + 'subjects/' + x + '.html'
    else:
        return 'No URL found'

In [72]:
def union(conn, value):
    """
    Query tasks by priority
    :param conn: the Connection object
    :param priority:
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT id, name FROM courses WHERE id LIKE ? UNION SELECT id, name FROM sub_structures WHERE id LIKE ?", ('%'+value+'%','%'+value+'%',))
    #cur.execute(f"""SELECT * FROM courses WHERE name='{value}'"""") #sample fstring

    rows = cur.fetchall()

    for row in rows:
        #print(row) #print all rows from database
        print(f"{row[0]} {row[1]}.")
        print(get_url(row[0]))

In [28]:
select_course(create_connection("../uts.db"),"09019")

UTS offers Bachelor of Science (Honours) in Information Technology at Ultimo, Sydney.

In [77]:
union(create_connection("../uts.db"),"437")

maj08437 Accounting.
https://handbook.uts.edu.au/directory/maj08437.html
maj09437 Italy.
https://handbook.uts.edu.au/directory/maj09437.html